<ion-header>
  <ion-toolbar>
    <ion-title>INICIO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <div class="input">
  <form [formGroup]="userLoginForm" (ngSubmit)="login()">
    <ion-item lines="full">
      <ion-label position="floating">
        <ion-icon name="mail-outline"></ion-icon> Email</ion-label>
      <ion-input type="email" formControlName="username" ngModel email placeholder="Ingrese el correo"></ion-input>
      <ion-note slot="helper">Enter a valid email</ion-note>
      <ion-note slot="error">email no valido</ion-note>
    </ion-item>
    <ion-item lines="full">
      <ion-label position="floating"><ion-icon name="lock-open-outline"></ion-icon> Contraseña</ion-label>
      <ion-input type="password" formControlName="password" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="primary" expand="block">Entrar</ion-button>
      </ion-col>
    </ion-row>
    
    <ion-row color="primary" justify-content-center>
      <ion-col size="12" class="ion-text-center">
        <div text-center>
          <span class="already">si no tiene un usuario creado?</span>
        </div>

        <ion-label [routerLink]="['/auth/register']" expand="block" color="primary">Registrar</ion-label>
      </ion-col>
    </ion-row>
  
  </form>
</div>
</ion-content>