<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/web/clientes"></ion-back-button>
    </ion-buttons>
    <ion-title>Actualizar Cliente</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">
  <div class="input">
<form [formGroup]="registerForm" (ngSubmit)="actualizarCliente()">
  <ion-item>
    <ion-label>Identificacion</ion-label>
    <ion-select [interfaceOptions]="customAlertOptions" interface="alert" formControlName="tipoIdentificacion" placeholder="Seleccione Uno">
      <ion-select-option value="RUC">RUC</ion-select-option>
      <ion-select-option value="CEDULA">CEDULA</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item fill="outline">
    <ion-label position="floating">Numero de Identificacion</ion-label>
    <ion-input formControlName="identificacionNumero" placeholder="Numero de Identificacion"></ion-input>
  </ion-item>
  <ion-item fill="outline">
    <ion-label position="floating">Nombre Cliente</ion-label>
    <ion-input formControlName="nombre" placeholder="Nombre Cliente"></ion-input>
  </ion-item>
  <ion-item fill="outline">
    <ion-label position="floating">Direccion</ion-label>
    <ion-input formControlName="direccion" placeholder="Direccion"></ion-input>
  </ion-item>
  <ion-item fill="outline">
    <ion-label position="floating">Telefono</ion-label>
    <ion-input formControlName="telefono" placeholder="Telefono"></ion-input>
  </ion-item>
  <ion-item fill="outline">
    <ion-label position="floating">Correo Electronico</ion-label>
    <ion-input formControlName="correoElectronico" placeholder="Correo Electronico"></ion-input>
  </ion-item>
  <ion-row>
    <ion-col>
      <ion-button type="submit" color="danger" expand="block">Actualizar</ion-button>
    </ion-col>
  </ion-row>
</form>
</div>
</ion-content>
