<ion-header>
  <ion-toolbar>
    <ion-title>FACTURA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-title>Factura</ion-title>
<ion-item fill="outline">
  <ion-label position="floating">Numero de Identificacion</ion-label>
  <ion-input formControlName="identificacionNumero" placeholder="Ingrese Numero de Identificacion Cliente"></ion-input>
</ion-item>
<p><b>Nombre: </b></p>
<ion-label id="nombreU"></ion-label>
<p><b>Telefono: </b></p>
<ion-label id="telefonoU"></ion-label>
<p><b>Direccion: </b></p>
<ion-label id="direccionU"></ion-label>
</ion-content>
