ion-grid {
    --ion-grid-column-padding: 7px;
    border-collapse: collapse;
    border-style: initial;
    font-size: 10px;
    font-weight: bold;
    
    .reports-table {
        overflow-x: auto;
   
    ion-row:first-child {
       
        font-weight: bold;
        font-size: 7px;
        text-align: center;
    }
}


    ion-col {
        border: 0.5px solid black;
        border-bottom: 0;
        border-right: 0;
        text-align: center;
    }

    ion-col:last-child {
        border-right: 1px solid black;
        text-align: center;
    }

    ion-row:last-child {
        border-bottom: 1px solid black;
        text-align: center;
        
    }
    .center-text {
        text-align: center;
     }
}

.p-r{
    padding-left: 20px;
    font-size: 12px;
}

.input{
    padding-left: 20px;
    padding-right: 20px;
    
    
}
.p-r-1{
    text-align: right;
    padding-right: 30px;
    font-size: 12px;
}
ion-content.background{
    --background: url(https://www.todofondos.net/wp-content/uploads/752x1199-Fondo-de-pantalla-Aesthetic.jpg) 0 0/100% 100% no-repeat;
}