ion-grid {
    --ion-grid-column-padding: 1px;
    border-collapse: collapse;
    border-style: initial;
    font-size: 10px;
    width: 290px;
    font-weight: bold;

    .reports-table {
        overflow-x: auto;
        

    ion-row:first-child {
       
        font-weight: bold;
        font-size: 7px;
        text-align: center;
        

        
    }
    }

    ion-col {
        border: 0.5px solid black;
        border-bottom: 0;
        border-right: 0;
        text-align: center;
        width: 280px;
       
        
    }

    ion-col:last-child {
        border-right: 1px solid black;
        text-align: center;
        width: 280px;
        
    }

    ion-row:last-child {
        border-bottom: 1px solid black;
        text-align: center;
        width: 280px;
        
    }
    ion-button{
       
        width: 35px;
        font-size: 10px;
        
    }
}
.centrar{
    text-align: center;
  }
  ion-content.background{
    --background: url(https://www.todofondos.net/wp-content/uploads/752x1199-Fondo-de-pantalla-Aesthetic.jpg) 0 0/100% 100% no-repeat;
}
