<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/web/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Carrito</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-margin">
  <div class="center-text">
    <p>Lista de Productos</p>
  </div>
  <div class="reports-table">
    <ion-grid class="ion-margin">
      <ion-row>
        <ion-col>Servicio</ion-col>
        <ion-col>Cantidad</ion-col>
        <ion-col>Precio Unitario</ion-col>
        <ion-col>Total</ion-col>
        <ion-col>Accion</ion-col>

      </ion-row>
      <ion-row *ngFor="let d of detalles">
        <ion-col>{{d.servicioId}}</ion-col>
        <ion-col>{{d.cantidad}}</ion-col>
        <ion-col>{{d.precioUnitario}}</ion-col>
        <ion-col>{{d.total}}</ion-col>
        <ion-button color="danger">
          <ion-icon name="trash"></ion-icon>
        </ion-button>
      </ion-row>
    </ion-grid>
  </div>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="success" routerLink="/web/generar-factura">
      <ion-icon name="receipt-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>