ion-content.background{
    --background: url(https://www.todofondos.net/wp-content/uploads/752x1199-Fondo-de-pantalla-Aesthetic.jpg) 0 0/100% 100% no-repeat;
}
.input{
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 70px;
    
}