<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" defaultHref="/web/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Clientes</ion-title>
    <ion-buttons slot="end">
      <ion-button  [routerLink]="['/web/carrito']">
        <ion-icon color="primary" slot="icon-only" name="cart"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding class="background">  
      <ion-list *ngFor="let c of clientes| async">
        <ion-item >
          <ion-thumbnail class="ion-margin-end">
            <ion-img src="https://e7.pngegg.com/pngimages/177/551/png-clipart-user-interface-design-computer-icons-default-stephen-salazar-graphy-user-interface-design-computer-wallpaper.png"></ion-img>
          </ion-thumbnail>
          <ion-label class="ion-text-wrap">{{c.nombre}}</ion-label>
          
          <ion-button color="primary" (click)="getCliente(c)">
            <ion-icon name="eye-outline"></ion-icon>
          </ion-button>
          <ion-button color="primary" [routerLink]="['/web/actualizar-cliente', c.identificacionNumero]">
            <ion-icon name="create-outline"></ion-icon>
          </ion-button>
          <ion-button color="danger" (click)="eliminarCliente(c.id)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-list>
  <ion-fab slot="fixed" vertical="bottom" horizontal="end">
    <ion-fab-button color="primary" routerLink="/web/register-client">
      <ion-icon name="person-add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>